.container{
    width: 100%;
    height: 100vh;
    background-image:url("download\ \(1\).jpg");
    background-repeat: repeat;
    
    background-size: cover;
   
    background-position:left;
    position: relative;

}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    display: flex;
   
    align-items: center;
    background-color:rgb(45, 230, 54);
    
}
span{
    font-family: sans-serif;
}
.navbar{


    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 35px;
    top: 0;
    width: 100%;

    




}

.logo {
    font-size: 30px;
    color: #000000;
}



button:hover {
    background-color: rgb(0, 8, 0);
    cursor: pointer;
}
button {
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 5%;
    margin-right: 8px;
    position: relative;
    left: -6%;
    font-weight: bold;
    border: none;
    background: transparent;
    
    color: rgb(9, 238, 9);
    font-size: 15px;
    transition: 0.3s;
}

.home {
   background-color:rgb(2, 0, 0);
    color: #20e90e;
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 5%;
    margin-right: 8px;
    position: relative;
    left: -6%;
    font-weight: bold;
    border: none;
    
}
.text {
    color: white;
    position: relative;
    margin-left: 20%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.text h1 {
    font-size: 50px;
   
}



.text p {
    font-size: 25px;
}

.go {
    padding: 20px 30px;
    background-color: rgb(85, 235, 55);
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 90%;
    margin-bottom: 200px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.go:hover {
    background-color: rgb(165, 9, 95);
    cursor: pointer;

}
.pageno {
    width: 100px;
    
    
   
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    cursor: pointer;
}

.one {
    color: rgb(238, 14, 137);
   
}
ul.b {
    list-style-type:none;
   
  }
  .b li{
    margin-top: 30px; 
  }